body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}
h1 {
  margin-top: 0;
  color: black;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
p {
  color: black;
}
.top-container {
  background-color: #08D9D6;
  padding: 10px;
}
.profile-img{
  margin: 10px;
  height: 250px;
  width: 250px;
  border-radius: 100%;
}
.tag-line{
  font-family: monospace;
  font-size: 30px;
  color: black;
  position: relative;
  bottom: 70px;
}

.bottom-container {
  background-color: #252A34;
}

.top-image {
  position: relative;
  left: 200px;
}
.mountain-image {
  position: relative;
  top: 14px;
}
.bottom-image {
  position: absolute;
}
.profile{
  background-color: #252A34;
  margin: 0;
  border: 0;
}
.profile-text{
  color: white;
}
.middle-container{
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #FF2E63;
}
.skills{
  font-size: larger;
  background-color: #FF2E63;
}
.skill-elements{
  position: relative;
  left: 600px;
  color: bisque;
  text-align: center;
}
.contact-me{
  background-color: #EAEAEA;
  
}
